@import "tailwindcss";

:root {
  --background: #fffaf4;
  --foreground: #171717;
  --primary-dark: #2c3e50;
  --primary-light: #a2c3d9;
  --accent: #718237;
  --secondary: #d4a056;

  --font-montserrat: "Montserrat", "serif";
  --font-poppins: "Poppins", serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
  font-size: 14px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--font-poppins);
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
}

h2 {
  font-family: var(--font-poppins);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: normal;
}

h3,
a,
button,
span {
  font-family: var(--font-poppins);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: normal;
}

.product-title {
  @apply line-clamp-2 text-ellipsis;
  font-family: var(--font-montserrat);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: normal;
}

.c-icon {
  --star-active: #fece3c;
  --star-inactive: #6c6962;
  --star-outline: #6c6962;
  fill: var(--star-inactive);
  width: var(--size, 1.5rem);
  height: var(--size, 1.5rem);
}

.c-icon.active {
  fill: var(--star-active);
  stroke: var(--star-outline);
  stroke-width: 1px;
}

.c-icon--md {
  --size: 40px;
}

.c-icon--lg {
  --size: 64px;
}