@import "tailwindcss";

:root {
  --background: #fdf6f6;
  --foreground: #171717;
  --primary: #1a3c58;
  --primary-light: #2c516f;
  --primary-dark: #0b1e2d;

  --font-nerko: "grotesk", "sans-serif";
  --font-inter: "Inter", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
